{
    box-sizing: border-box;
}
#outer-container {
display:grid;
border-color: white;
grid-template-rows: 1fr 1fr 1fr 3fr 1fr 1fr 1fr;
grid-template-columns: 1fr;
grid-gap: 5px;
height: 95vh;
/*background-image:url(images/photo18.jpg);-*/
 background-size: cover;
font-family: 'Montserrat', sans-serif;
grid-template-areas:
"header"
"hero"
"advert"
"content"
"sidebar"
"footer"
}
#inner-grid{
        display:grid;
        grid-template-rows: 100px 50px 1fr;
        grid-gap: 5px;
        grid-template-areas:
        "article_feat"
        "adv"
        "article_list";
    }
.header{
    grid-area: header;
    background-color: rgba(252, 184, 106, 0.836);
}
h1{
    font-size: 18px;
    text-transform:uppercase;
    color:white;
    text-align: center;
}  

.nav {
    font-size:10px;
    text-transform:uppercase;
    vertical-align:bottom;
 }
    .nav_link{
    display:inline;
    color:#ffffff;
    text-decoration:none;
    transition:color .2s linear;
    }
    .nav_link:hover{
      color: #990000;
    }
    .tools{
        align-self:end;
    }
.hero{
    grid-area: hero;
    text-transform:uppercase;
    color:white;
    width:700;
    text-align: center;
    background-color: rgba(252, 184, 106, 0.836);
}
.advert{
    grid-area: advert;
    display:none;
    background-color: rgba(252, 184, 106, 0.836);
}
button{
    border-radius:10px ;
}
.content{
    grid-area: content;
    color:white;
    text-align: center;   
}
.article_feat{
   grid-area: article_feat;
   background-color: rgba(252, 184, 106, 0.836);
}
 .adv{
  grid-area: adv;
  background-color: rgba(252, 184, 106, 0.836);
}
.article_list{
 grid-area:article_list;
 background-color: rgba(252, 184, 106, 0.836);
}
.sidebar{
    grid-area: sidebar;
    display:none;
    background-color: rgba(252, 184, 106, 0.836);
}
.footer{
    grid-area: footer;
    text-align: center;
    background-color: rgba(252, 184, 106, 0.836);
}
@media (min-width: 576px){
    #outer-container {
        grid-template-columns: 100px 1fr 100px;
        grid-template-rows: 1fr 1fr 2fr 50px 1fr;
        background-image: none;
               grid-template-areas:
"header header header"
"hero hero hero"
"content content content"
"sidebar sidebar sidebar"
"footer footer footer";
}
.sidebar{
    display:inline-flex;
    background-color: rgba(252, 184, 106, 0.836);
}
#inner-grid{  
        grid-template-rows: 150px 1fr;
        grid-template-areas:
        "article_feat article_feat adv"
        "article_list article_list article_list";
    }
}
@media (min-width: 992px){
    #outer-container {
        grid-template-columns: 150px 1fr 1fr 150px;
        grid-template-rows: 1fr 1fr 2fr 30px;
        grid-template-areas:
"header header header header"
"hero hero hero advert"
"content content content sidebar"
"footer footer footer footer";
}
.sidebar{
    color: rgb(223, 202, 202);
    background-color: rgba(252, 184, 106, 0.836);
}
.advert{
    display:block;
    color: darkred;
    background-color: rgba(252, 184, 106, 0.836);
}
.book_adv{
    width: 30%;  
}
.side{
    text-decoration: none;  
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
      }
      
li a {
        display: block;
        color: #000;
        padding: 4px 8px;
        text-decoration: none;
      }    
li {
        text-align: center;
        border-bottom: 1px solid #555;
      }
      
li a:hover {
        background-color: #555;
        color: white;
      }
#inner-grid{ 
    grid-template-rows: 2fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "article_feat article_list";   
    }
    .adv{display:none;
    }
}