
#outer-container {
display:grid;
grid-template-rows: 120px 1fr 3fr 1fr 120px;
grid-template-columns: 1fr;
grid-gap: 5px;
background:rgb(122, 213, 255);
height: 95vh;
background-image:url(images/photo18.jpg);
 background-size: cover;
font-family: 'Montserrat', sans-serif;
}
#inner-grid2{
        display:grid;
        grid-template-rows: 1fr 1fr 1fr;
        height: 50vh;
    }
.header{
    grid-row:1/2;
    height: 20vh;
    display:flex;
    justify-content:space-between;
}
.nav {
    font-size:10px;
    text-transform:uppercase;
    vertical-align:bottom;
 }
    .nav_link{
    display:inline;
    color:#ffffff;
    text-decoration:none;
    transition:color .2s linear;
    }
    
    .nav_link:hover{
      color: #990000;
    }
    .tools{
        align-self:end;
    }
.hero{
    grid-row:2/3;
    text-transform:uppercase;
    color:white;
    width:700;
    text-align: center;
}
button{
    border-radius:10px ;
}
.content{
    grid-row:3/3;}

.article_feat{
    grid-row:1/2;  
}
.adv{
    grid-row:2/3;
}
.article_list{
    grid-row:3/4;
}
.footer{
    grid-row:4/5;}

@media (min-width: 576px){
    #outer-container {
        grid-template-columns: 100px 1fr 100px;
    }
    .hero{grid-column: 1/4; 
    }
    #inner-grid2{
        grid-column: 1/4;
        grid-row:3/3;
     
}
}