
#outer-container {
display:grid;
grid-template-rows: 1fr 1fr 1fr 3fr 1fr 30px;
grid-template-columns: 1fr;
grid-gap: 5px;
height: 95vh;
background-image:url(images/photo18.jpg);
 background-size: cover;
font-family: 'Montserrat', sans-serif;
grid-template-areas:
"header"
"header"
"hero"
"content"
"sidebar"
"footer"
}
#inner-grid{
        display:grid;
        grid-template-rows: 1fr 1fr 1fr;
        height: 40vh;
        grid-template-areas:
        "article_feat article_feat article_feat"
        "adv adv adv"
        "article_list article_list article_list";
    }
.header{
    grid-area: header;
}
h1{
    font-size: 18px;
    text-transform:uppercase;
    color:white;
    text-align: center;
}  
.second_row{
    display:block;
    display:flex;
    justify-content:space-between;
}
.nav {
    font-size:10px;
    text-transform:uppercase;
    vertical-align:bottom;
 }
    .nav_link{
    display:inline;
    color:#ffffff;
    text-decoration:none;
    transition:color .2s linear;
    }
    .nav_link:hover{
      color: #990000;
    }
    .tools{
        align-self:end;
    }
.hero{
    grid-area: hero;
    text-transform:uppercase;
    color:white;
    width:700;
    text-align: center;
}
button{
    border-radius:10px ;
}
.content{
    grid-area: content;
    height: 40vh;
    color:white;
    text-align: center;
}

.article_feat{
   grid-area: article_feat;
}
.adv{
  grid-area: adv;
}
.article_list{
 grid-area:article_list;
}
.sidebar{
    grid-area: sidebar;
    display:none;
}
.footer{
    grid-area: footer;
    text-align: center;
}
@media (min-width: 576px){
    #outer-container {
        grid-template-columns: 100px 1fr 100px;
        grid-template-rows: 1fr 70px 2fr 30px 30px;
        grid-template-areas:
"header header header"
"hero hero hero"
"content content content"
"sidebar sidebar sidebar"
"footer footer footer";
}
.sidebar{
    display:inline-flex;
    height: 8vh;

}
#inner-grid{  
        height: 40vh;
        grid-template-areas:
        "article_feat article_feat adv"
        "article_list article_list article_list";
    }
}
@media (min-width: 992px){
    #outer-container {
        grid-template-columns: 150px 1fr 1fr 150px;
        grid-template-rows: 1fr 1fr 2fr 30px;
        grid-template-areas:
"header header header header"
"hero hero hero adv"
"content content content sidebar"
"footer footer footer footer";
}
.sidebar{
   
}
#inner-grid{ 
    grid-template-rows: 1fr;
    grid-template-column: 1fr;
        height: 40vh;
        grid-template-areas:
        "article_feat article_list";   
    }
    .adv{display:none;
    }
}